{% extends "base.html" %}

{% block title %}Editar Reserva #{{ reserva.id }} - LJDSYSTEM{% endblock %}

{% block content %}
<h1>Editar Reserva #{{ reserva.id }}</h1>
<hr class="border-light">

<form method="post" class="mt-3">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Actualizar Reserva</button>
    <a href="{% url 'detalle_reserva' reserva.pk %}" class="btn btn-secondary">Cancelar</a>
    <a href="{% url 'ver_reservas' %}" class="btn btn-outline-light">Volver al listado</a>
</form>
{% endblock %}